.header {
  background-image: linear-gradient(to #ffffff, #e6e3e3, #e6e3e3);
  min-height: 25vh;
}

hr {
  color: #ffffff;
  border-width: 0.05rem;
}

.stats {
  display: flex;
  flex-direction: column;
}

.stats .stats__genre,
.stats .stats__auth {
  display: flex;
  justify-content: space-between;
}

p {
    font-size: .8rem;
}